.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn;
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  -moz-animation-name: bounceInUp;
  -o-animation-name: bounceInUp;
  -ms-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:link {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  margin: 0;
  -webkit-backface-visibility: hidden;
      background-color: #f3f3f3;
}
p,
li {
  font-weight: 300;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 37px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 23px;
}
h5 {
  font-size: 19px;
}
h6 {
  font-size: 16px;
}
h1,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5em;
}
h2,
h4,
h5 {
  font-weight: 400;
}
.uppercase {
  text-transform: uppercase;
}
.no_padding_left {
  padding-left: 0;
}
.icon-phone {
  background-image: url("../images/phone.png");
  background-image: url("../images/icon-phone.svg") none;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  margin-top: -10px;
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.icon-phone-black {
 /* background-image: url("../images/icon-phone-black.png");
  background-image: url("../images/icon-phone-black.svg") none;*/
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  margin-top: -5px;
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.caret_down {
  top: 28px;
  right: 20px;
}
.logo {
  display: block;
  width: 100%;
 /*height: 30px;*/
  margin: 5px 0 10px;
}
.navbar {
  border: 0;
}
.nav-justified {
  margin: 0;
}
.nav-justified .dropdown {
  border-right: 2px solid #f3f3f3;
}
.nav-justified .dropdown:last-child {
  border-right: 0 none;
}
.nav-justified .dropdown-toggle {
  background: #fff none repeat scroll 0 0;
  border-bottom: 4px solid #e3e3e3;
  line-height: 17px;
  padding: 15px 10px 15px 60px;
  position: relative;
  text-align: left;
}
.nav-justified .dropdown-toggle:before {
  background: rgba(0,0,0,0) url("../images/sprite.png") no-repeat scroll 0 0;
  content: "";
  position: absolute;
  top: 16px;
}
.nav-justified #menu_cobertura_ambulatoria.dropdown-toggle:before {
  background-position: -19px -53px;
  height: 31px;
  left: 17px;
  width: 18px;
}
.nav-justified #menu_asistencia_dental.dropdown-toggle:before {
  background-position: -64px -52px;
  height: 33px;
  left: 14px;
  width: 27px;
}
.nav-justified #menu_cobertura_integral.dropdown-toggle:before {
  background-position: -103px -54px;
  height: 30px;
  left: 11px;
  width: 41px;
}
.nav-justified #menu_reembolso_gastos.dropdown-toggle:before {
  background-position: -153px -53px;
  height: 39px;
  left: 10px;
  top: 11px;
  width: 40px;
}
.nav-justified #menu_autonomos_pymes.dropdown-toggle:before {
  background-position: -208px -53px;
  height: 31px;
  left: 9px;
  top: 16px;
  width: 43px;
}
.nav-justified .dropdown-menu {
  border: 10px solid #e3e3e3 !important;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
  margin: 0;
}
.nav-justified .dropdown-menu li {
  background: #fff none repeat scroll 0 0;
}
.nav-justified .dropdown-menu li.active a {
  background-color: #f3f3f3;
  color: #0097d7 !important;
}
.nav-justified .dropdown-menu a {
  color: #000 !important;
  font-weight: 400;
  padding: 5px 15px 5px 40px;
  position: relative;
}
.nav-justified .dropdown-menu > li > a,
.nav-justified .open .dropdown-menu > li > a {
  padding: 5px 15px 5px 40px;
}
.nav-justified .dropdown-menu > li > a:hover,
.nav-justified .open .dropdown-menu > li > a:hover,
.nav-justified .dropdown-menu > li > a:focus,
.nav-justified .open .dropdown-menu > li > a:focus {
  color: #0097d7 !important;
}
.nav-justified .dropdown-menu > li > a::before,
.nav-justified .open .dropdown-menu > li > a::before {
  background: #0097d7 none repeat scroll 0 0;
  content: "";
  height: 12px;
  left: 20px;
  position: absolute;
  top: 9px;
  width: 12px;
}
.nav-justified .dropdown:hover,
.nav-justified .dropdown:focus {
  background: #e3e3e3 none repeat scroll 0 0;
}
.nav-justified .dropdown.active .dropdown-toggle,
.nav-justified .dropdown.open .dropdown-toggle {
  border-bottom: 4px solid #a2a2a2;
}
.nav-justified .dropdown:hover:hover .dropdown-toggle,
.nav-justified .dropdown:focus:hover .dropdown-toggle,
.nav-justified .dropdown.active:hover .dropdown-toggle,
.nav-justified .dropdown.open:hover .dropdown-toggle,
.nav-justified .dropdown:hover:focus .dropdown-toggle,
.nav-justified .dropdown:focus:focus .dropdown-toggle,
.nav-justified .dropdown.active:focus .dropdown-toggle,
.nav-justified .dropdown.open:focus .dropdown-toggle {
  background: #e3e3e3 none repeat scroll 0 0;
  border-bottom: 4px solid #e3e3e3;
}
.nav-justified .dropdown-toggle:hover,
.nav-justified .dropdown-toggle:focus,
.nav-justified .dropdown-toggle:active,
.nav-justified .dropdown-toggle.active {
  color: #606060;
}
.nav-justified .dropdown-menu li:hover,
.nav-justified .dropdown-menu li:focus {
  background: #fff none repeat scroll 0 0;
}
.box_phone p:nth-child(1) {
  margin: 0 0 0 134px;
  font-size: 16px;
  font-weight: 400;
}
.box_phone p:nth-child(2) {
  margin: 0;
  line-height: 1em;
  text-align: right;
  font-size: 40px;
  font-weight: 900;
  color: #e99d23;
}
.box_phone p:nth-child(2) images {
  position: relative;
  background: url("/../images/landing/sprite.png") no-repeat;
}
.box_phone p:nth-child(2) a {
  color: #e99d23;
  text-decoration: none;
}
.box_phone p:nth-child(3) {
  margin: 0;
  line-height: 1em;
  text-align: right;
  font-size: 30px;
  font-weight: 900;
  color: #e99d23;
}
.box_phone p:nth-child(3) images {
  position: relative;
  background: url("/../images/landing/sprite.png") no-repeat;
}
.box_phone p:nth-child(3) a {
  color: #e99d23;
  text-decoration: none;
}
.box_phone p:nth-child(4) {
  margin: 0;
  text-align: right;
  font-size: 12px;
}
.header .box_phone {
  width: 400px;
  padding: 10px 0;
  float: right;
}
.content_wrapper {
  margin-top: 60px;
}

.coverages_mobile {
    display: none;
} 
.slide {
  position: relative;
  height: 590px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.slide_basico_fallas {
  background-image: url("../images/productos/fallas1.jpg");
}
.slide_basico_feriantes {
  background-image: url("../images/productos/feriantes1.jpg");
}
.slide_basico_correfocs {
  background-image: url("../images/productos/correfocs1.jpg");
}
.slide_dental_familia {
  background-image: url("../images/slide-dental-familia.jpg");
}
.slide_plena_plus {
  background-image: url("../images/slide-plena-plus.jpg");
}
.slide_plena_vital {
  background-image: url("../images/slide-plena-vital.jpg");
}
.slide_plena_extra_150 {
  background-image: url("../images/slide-plena-extra-150.jpg");
}
.slide_extra_240 {
  background-image: url("../images/slide-extra-240.jpg");
}
.slide_premier {
  background-image: url("../images/slide-premier.jpg");
}
.slide_left {
  /*color: #0097d7;*/
  
  /*height: 261px;*/
 /* right: 35%;*/
  position: absolute;
  /*top: 21%;*/
  /*width: 360px;*/
  right: 3%;
}
.slide_left .container {
  margin: 40px auto 0;
  width: 285px;
}
.slide_left h3 {
  margin-bottom: 20px;
}
.slide_left h4 {
  line-height: 26px;
  text-align: right;
}
.slide_left h6 {
  font-size: 14px;
  line-height: 16px;
}
.slide_left h4,
.slide_left h6 {
  font-weight: 700;
}
.slide_left hr {
  border-top: 1px solid #0097d7;
  margin: 10px 0 15px;
}
.slide_left p {
  float:right;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
}
.slide_left p span {
  display: inline-block;
  text-align: right;
}
.slide_left p strong {
  font-size: 16px;
  line-height: 16px;
}
.slide_left .before {
  border-right: 2px solid #0097d7;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  margin-left: 15px;
  padding-right: 10px;
  text-align: center;
  position: relative;
}
.slide_left .before:before {
  background: url("../images/line.png") no-repeat center;
  content: '';
  width: 49px;
  height: 49px;
  position: absolute;
  left: -8px;
  top: -9px;
}
.slide_left .before strong {
  font-weight: 800;
  font-size: 28px;
}
.slide_left .price {
  font-size: 44px;
  line-height: 43px;
  font-weight: 900;
  letter-spacing: -1px;
  margin-left: 5px;
}
.slide_left .euro {
  font-size: 17px;
  line-height: 22px;
  vertical-align: text-bottom;
  font-weight: 600;
}

.slide_left .right{
  /*margin-left: 30px;*/
}


.slide_sello {
  background: rgba(0,0,0,0) url("../images/slide-left-bg_new.png") no-repeat scroll 0 0;
  color: #fff;
  height: 143px;
  padding-top: 2px;
  position: absolute;
  left: 30%;
  bottom: 5%;
  width: 177px;
  text-align: center;
  z-index: 1;
}
.slide_sello p {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-top: 16px;
}
.slide_sello p span {
  margin-top: 2px;
  display: block;
}
.slide_sello p span strong {
  font-size: 24px;
  line-height: 26px;
}
.slide_sello p span strong span {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}
.slide_sello .small {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  width: 100px;
  margin: -17px auto 0;
}
.slide_sello-2 {
  background: url("../images/sello-bg-01.png") no-repeat 0 0;
  bottom: 0;
  color: #fff;
  height: 143px;
  left: 51%;
  padding-left: 0;
  padding-right: 74px;
  padding-top: 36px;
  position: absolute;
  text-align: center;
  width: 282px;
}
.slide_sello-2 p {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-top: 10px;
}
.slide_sello-2 p strong {
  font-size: 41px;
  line-height: 28px;
}
.slide_sello-2 p strong span {
  font-size: 14px;
  line-height: 10px;
  margin: 0;
  display: block;
}
.slide_sello-3 {
  background: url("../images/sello-bg-03-new.png") no-repeat 0 0;
  bottom: 0;
  color: #fff;
  height: 143px;
  left: 47%;
  padding: 40px 20px;
  position: absolute;
  text-align: center;
  width: 215px;
}
.slide_sello-3 p {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-top: 10px;
}
.slide_sello-3 p strong {
  font-size: 33px;
  line-height: 28px;
}
.slide_sello-3 p strong span {
  font-size: 14px;
  line-height: 10px;
  margin: 0;
  display: block;
}
.slide_plena_plus .slide_sello {
  left: 5%;
}
.quote {
  font-size: 12px;
  margin-top: 6%;
}
.slide_right {
  position: relative;
  width: 425px;
  float: right;


  padding-top: 10px;
  padding-bottom: 36px;
  padding-left: 32px;
  padding-right: 32px;
  background: #f8f8f8;
}
.box_call h4,
.box_call h5 {
  font-weight: 300;
}
.box_call h4 {
  text-align:center;
  margin: 0 0 25px;
}
.box_call h5 {
  margin: 0 0 25px;
}
.box_call .dropdown-menu {
  top: 231px;
  left: 95px;
  width: 241px;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
}
.box_call .checkbox a {
  color: #0097d7;
}
.box_call .btn-default {
  padding: 18px 12px 18px 10px;
  margin-bottom: 10px;
  text-align: left;
}
.box_call .btn-warning {
  margin-top: 20px;
}
.input_phone {
  /*background: #fff url("../images/icon-input-phone.jpg") no-repeat 0 center;*/
}
.btn_call_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 59px;
  /*background-image: url("../images/icon-input-call.jpg");*/
}
.wrapper_collapse {
  display: none;
}
.nav-tabs,
.tab-content {
  position: relative;
  float: left;
}
.nav-tabs {
  width: 30%;
  margin-top: 50px;
  z-index: 200;
}
.nav-tabs li {
  width: 100%;
  height: 75px;
  margin-bottom: 1px;
  background: #0097d7;
}
.nav-tabs li:hover,
.nav-tabs li:focus,
.nav-tabs li.active,
.nav-tabs li.active:hover,
.nav-tabs li.active:focus {
  background: #0077c3;
}
.nav-tabs li a {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 0;
  padding: 15px 60px;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
}
.nav-tabs li a:before {
  left: 20px;
}
.nav-tabs>li>a,
.panel-title a {
  position: relative;
}
.nav-tabs>li>a:before,
.panel-title a:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 25px;
  height: 19px;
  background: url("../images/sprite.png") no-repeat -150px 0;
}
.nav-tabs>li.active:after {
  position: absolute;
  content: '';
  border-left: 12px solid;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  top: 15%;
  right: -11px;
  color: #0077c3;
}
.nav-tabs>li.active a:before {
  background: url("../images/sprite.png") no-repeat -200px 0;
}
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  border: 0;
  background: transparent;
  color: #fff;
}
.tab-content,
.panel, .coverages_mobile {
  font-size: 18px;
  color: #6c6c6c;
}
.tab-content h2,
.panel h2, .coverages_mobile h2 {
  line-height: 1.3em;
  margin-bottom: 20px;
  color: #0097d7;
  font-weight: 300;
}
.tab-content p,
.panel p, .coverages_mobile p {
  line-height: 1.3em;
  margin-bottom: 20px;
}
.tab-content li,
.panel li, .coverages_mobile li {
  position: relative;
  margin-bottom: 10px;
  list-style-type: none;
}
.tab-content li:before,
.panel li:before, .coverages_mobile li:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -25px;
  width: 15px;
  height: 11px;
  background: url("../images/sprite.png") no-repeat -250px 0;
}
.tab-content {
  float:right;
  z-index: 100;
  width: 68%;
  min-height: 684px;
  padding: 2% 5% 250px;
  background: #fff;
}
.tab-content ul {
  padding-left: 30px;
}
.tab-content li:before {
  top: 8px;
}
.tab_content_bottom {
  position: absolute;
  bottom: 65px;
  left: 0;
  right: 0;
  padding: 2% 8% 1%;
}

#tab2{

  margin-bottom:100px;
}
.call_me {
  margin-top: 70px;
  background: #fff;
  color: #000;
}
.call_me [class^='col-'] {
  padding: 0;
}
.call_me p {
  margin-bottom: 5px;
}
.call_me .content_bordered {
  margin-top: 10px;
  padding: 15px 0;
  border-top: solid 1px #0097d7;
  border-bottom: solid 1px #0097d7;
}
.call_me h1 {
  margin: 10px 0;
  font-size: 46px;
  font-weight: 300;
}
.call_me .btn {
  float: right;
}
.panel-group .panel+.panel {
  margin-top: 0px;
}
.panel-heading {
  padding: 0;
}
.panel-title a {
  position: relative;
  display: block;
  padding: 30px 60px;
  font-weight: 300;
}
.panel-title a:hover,
.panel-title a:focus {
  text-decoration: none;
}
.panel-title a:before {
  left: 20px;
}
.panel-body li:before {
  top: 7px;
}
.panel-body h2 {
  margin-top: 0;
}
.things_to_know {
  color: #3e3e3e;
}
.things_to_know p {
  line-height: 20px;
  margin-bottom: 10px;
}
.things_to_know p.title {
  text-transform: uppercase;
  font-weight: bold;
}
.things_to_know a {
  text-decoration: underline;
}
.footer {
  position: relative;
  margin-top: 70px;
  padding: 20px 0;
  background: #cfcfcf;
}
.footer .box_phone_container {
  border-left: solid 1px #fff;
}
.footer .box_phone {
  width: 275px;
  margin: 0 auto;
  /*padding: 50px 0;*/
}
.footer .box_phone p:nth-child(1) {
  margin: 0 0 0 64px;
}
.footer .box_phone p:nth-child(2) {
  font-size: 30px;
  color: #000;
}
.footer_content {
  padding: 30px 0 0;
}
.footer_content ul {
  padding-left: 15px;
  font-size: 12px;
}
.footer_content a.active {
  color: #0097d7;
}
.footer_content p {
  line-height: 1.3em;
}
:focus,
:active,
a:focus {
  outline: 0;
  outline: 0 auto -webkit-focus-ring-color;
}
li,
a,
.btn {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn {
  padding: 18px 35px;
  font-size: 18px;
}

.btn-facebookapp {
  padding: 6px 12px;
  font-size: 15px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0;
}
.btn-default:hover,
.btn-warning:hover,
.btn-default:focus,
.btn-warning:focus {
  background-image: none;
}
.btn-default {
  position: relative;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-image: -webkit-linear-gradient(top, #fff 15%, #ddd 100%) !important;
  background-image: -moz-linear-gradient(top, #fff 15%, #ddd 100%) !important;
  background-image: -o-linear-gradient(top, #fff 15%, #ddd 100%) !important;
  background-image: -ms-linear-gradient(top, #fff 15%, #ddd 100%) !important;
  background-image: linear-gradient(to bottom, #fff 15%, #ddd 100%) !important;
  font-size: 16px;
  color: #828282;
  font-weight: 300;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #f1a734 15%, #de921b 100%);
  background-image: -moz-linear-gradient(top, #f1a734 15%, #de921b 100%);
  background-image: -o-linear-gradient(top, #f1a734 15%, #de921b 100%);
  background-image: -ms-linear-gradient(top, #f1a734 15%, #de921b 100%);
  background-image: linear-gradient(to bottom, #f1a734 15%, #de921b 100%);
  border-top: solid 3px #f5c343;
  border-bottom: solid 3px #b7883e;
  text-transform: uppercase;
}
.btn-warning:hover,
.btn-warning:focus {
  border-top: solid 3px #b7883e;
}
.form-group {
  margin-bottom: 6px;
}
.form-control {
  height: 50px;
  padding: 15px 10px 15px 10px;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
  font-weight: 300;
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,0.075);
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.075);
}
.caret {
  position: absolute;
  color: #0097d7;
}
.close {
  font-size: 30px;
}
.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}
.navbar-default .navbar-toggle {
  float: left;
  margin: 15px 0 15px 15px;
  border: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #3e3e3e;
}
.navbar-default .navbar-toggle .icon-bar {
  width: 32px;
  height: 7px;
  background-color: #6c6c6c;
}
.navbar-default .toggle_text {
  cursor: pointer;
  display: inline-block;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #828282;
}
.navbar-default .toggle_text:hover,
.navbar-default .toggle_text:focus {
  text-decoration: none;
  color: #3e3e3e;
}
.modal h6 {
  margin: 20px 0;
}
.modal p {
  margin: 15px 0;
  line-height: 1.5em;
}
.modal-header {
  color: #0097d7;
}
.modal-header .close {
  margin-top: -4px;
}
#modal_call_me .box_call {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  -ms-animation-name: none;
  animation-name: none;
}
#modal_call_me .box_call .dropdown-menu {
  top: 205px;
  left: 75px;
  width: 85%;
}
.tooltip.in {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.tooltip-inner {
  max-width: 500px;
  background-color: #0097d7;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-align: left;
  padding: 15px;
}
.tooltip-inner h1 {
  font-size: 24px;
}
.tooltip-inner ul {
  padding-left: 12px;
  font-size: 14px;
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #0097d7;
}
@media only screen and (max-width: 1199px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 1199px) {
  .nav-tabs {
    width: 36%;
  }
  .tab-content {
    width: 64%;
  }
  .call_me h1 {
    margin: 17px 0;
    font-size: 22px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .nav-justified .dropdown-toggle {
    padding: 15px 10px;
  }
  .nav-justified .dropdown-toggle:before {
    background: none;
  }
  .slide {
    background-position: -70px center;
  }
}
@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu,
  .dropdown:focus .dropdown-menu {
    display: block;
  }
  .toggle_text {
    display: none !important;
  }
  .slide_right {
    min-height: 450px;
    margin: 20px;
  }
  .footer_content [class^='col-'] {
    padding: 0;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-collapse,
  .header .dropdown {
    border-top: solid 1px #e3e3e3 !important;
  }
  .nav-justified li {
    border-right: 0 none !important;
    display: block;
    width: 100%;
  }
  h2.title {
    font-size: 24px;
  }


  .slide {
    height: 480px;
    background-position: 1% center;
  }
  .slide_left {
    top: 3%;
  }
  .slide_right {
    width: 100%;
    margin-top: 480px;
    background: #fff;
  }
  .slide_right .btn-warning {
    max-width: 305px;
    float: right;
  }
  .things_to_know,
  .coverages h2.title {
    text-align: center;
  }
  .things_to_know [class^='col-'] {
    max-width: 370px;
    margin: 0 auto 50px;
  }
  .things_to_know [class^='col-'] p.title {
    margin-top: 30px;
  }
  .footer {
    padding: 0;
  }
  .footer .box_phone_container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-left: 0;
    background: #000;
    color: #fff;
  }
  .footer .box_phone {
    width: auto;
    display: table;
    float: none;
    margin: 0 auto;
    padding: 4% 0;
    text-align: center;
  }
  .footer .box_phone p:nth-child(1) {
    font-size: 14px;
    margin: 0;
    color: #fff;
  }
  .footer .box_phone p:nth-child(2) {
    font-size: 30px;
    color: #fff;
  }
  .footer .box_phone p:nth-child(3) a {
    color: #fff;
    line-height: 1.5;
  }
  .footer .box_phone p:nth-child(4) {
    text-align: center;
  }
  .footer .box_phone p .icon-phone-black {
    display: none;
  }
  .footer_content {
    margin: 0 auto 160px;
  }
  .footer_content ul {
    margin-bottom: 50px;
  }
  .coverages {
    display: none;
  }

  .coverages_mobile {
    display: block;
  } 
  .wrapper_collapse {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .icon-phone {
    width: 26px;
    height: 26px;
    margin-right: 5px;
  }
  .logo {
    margin: 35px auto 30px;
  }
  .header .box_phone_container {
    background: #fff;
  }
  .header .box_phone {
    width: 250px;
    float: none;
    margin: 0 auto;
    padding: 16px 0;
  }
  .header .box_phone p:nth-child(1) {
    font-size: 14px;
    margin: 0 0 0 33px;
  }
  .header .box_phone p:nth-child(2) {
    font-size: 30px;
  }
  .slide {
    background-position: 10% center;
  }
  .call_me h1 {
    font-size: 48px;
  }
  .call_me .btn {
    float: left;
  }
  .panel-body {
    padding: 30px;
  }
  .panel-body ul {
    padding-left: 30px;
  }
  .footer_content {
    width: 400px;
  }
  .footer_content ul {
    margin-bottom: 50px;
  }
  #modal_call_me .box_call .dropdown-menu {
    width: 76%;
  }
}
@media only screen and (max-width: 520px) {
  .navbar-default .toggle_text {
    padding: 25px 0;
    font-size: 14px;
  }
  .footer_content {
    margin: 0 auto 200px;
    width: auto;
  }
  .footer_content [class^="col-"] {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .btn {
    font-size: 16px;
    padding: 16px 34px;
  }
  .call_me h1 {
    font-size: 34px;
  }
  .slide {
    height: 430px;
  }
  .slide_left {
   /* width: 90%;*/
    height: auto;
    /*top: 20px;*/
  /*  left: 20px;*/
  }
  .slide_left .container {
    margin: 27px 10px 0;
    width: 245px;
  }
  .slide_left h3 {
    font-size: 22px;
  }
  .slide_left h4 {
    font-size: 19px;
  }
  .slide_left h6 {
    font-size: 14px;
    line-height: 16px;
    width: 220px;
  }
  .slide_left p span:nth-child(1) {
   /* display: none;*/
  }
  .slide_sello {
    left: 1%;
  }
  .slide_sello-3 {
    left: 40%;
  }
  .box_call h4 {
    font-size: 21px;
  }
  .box_call h5 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 399px) {
  .box_call .dropdown-menu {
    left: 30px;
    width: 80%;
  }
}
@media only screen and (max-width: 320px) {
  .slide_right .btn-warning {
    max-width: 100%;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 3000px, 0);
    -moz-transform: translate3d(0, 3000px, 0);
    -o-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, -20px, 0);
    -moz-transform: translate3d(0, -20px, 0);
    -o-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 3000px, 0);
    -moz-transform: translate3d(0, 3000px, 0);
    -o-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, -20px, 0);
    -moz-transform: translate3d(0, -20px, 0);
    -o-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 3000px, 0);
    -moz-transform: translate3d(0, 3000px, 0);
    -o-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, -20px, 0);
    -moz-transform: translate3d(0, -20px, 0);
    -o-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 3000px, 0);
    -moz-transform: translate3d(0, 3000px, 0);
    -o-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, -20px, 0);
    -moz-transform: translate3d(0, -20px, 0);
    -o-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.precio_parrilla{

  vertical-align:middle !important;
  font-size: 2em;
}

.hidden-field{
  display: none;
}

.alerta-formulario{
padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;

}

.texto_correo_enviado{
  font-size: 1.7em;
  color:#337ab7;
}

.texto_correo_enviado p{

  line-height: 155%;
}

.imagen_correo_enviado{
  width: 100%;
  margin-top: 100px;
}


.zoomin img { 
  float: left;
  margin-right:4%;
  margin-bottom:2%;
  margin-top: 20px;
 /* width: 257px; 
  height: 174px; */
  -webkit-transition: all 0.35s ease; 
  -moz-transition: all 0.35s ease; 
  -ms-transition: all 0.35s ease; 
  transition: all 0.35s ease; 
  } 

  .zoomin img:hover { 

    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
transform: perspective(1000px) scale(1.03);
  }

.zoomin_margin {

  width: 30%;
  position: relative;
    float: left;
  /*  margin-right: 4%;*/
    margin-bottom: 25px;
    padding-top: 2%;
  }

  .landing-img-zoom {


    
  }

  .slide_left_naranja{

    color: #a26219;
    background-color: white;
  }

  .slide_left_azul{
    margin-top: 150%;
   color: #002d59;
  
  }

  .slide_img_right {
    margin-left:100px;
  }

  .carousel_cias {
    width: 150px;
  }